.footer{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $black;
        height: 120px;
        width: 100%;
        z-index: -1;
        margin-left: auto;
        margin-right: auto;
        @include breakpoint(tablet){
            padding-right: 40px;
            padding-left: 39px;
        }

        @include breakpoint(tablethorizontal){
            padding-left: 60px;
            padding-right: 60px;
        }

        @include breakpoint(desktop){
            padding-left: 120px;
            padding-right: 120px;
        }
        
        .footer__img{
            display: inline-block;
            font-size: 20px;
        }

        .header__button{
            @include button-pink-blue;
        }
    }
}