header.header__principal{
    padding-top: 16px;
    .header__container{
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    .header__list{
        @include reset_list;
    }
}