.main{
    padding-left: 16px;
    padding-right: 16px;
    .main__container{
        &__hero{
        height: 100px;
        margin-bottom: 250px;
        .main__h1{
            font-size: 40px;
            margin-bottom: 26px;
            font-weight: 900;
        }
        .main__p{
            padding: 0px;
            color: $grey;
            line-height: 26px;
            margin-bottom: 24px;
        }

        .main__p2{
            .main__p2-button{
                margin-bottom: 40px;
                @include button-pink-orange;
            }
        }
    }
        &__img{
            text-align: center;
            .img-hero{
                max-width: 80%;
            }
            .nums__hero{
                display: flex;
                flex-direction: column;
            }

            // Estilos para los divs del hero
            .num__hero-1{
                border: 1px solid white;
                max-width: 100px;
                max-height: 100px;
            }
            .num__hero-1-title{
                font-size: 14px;
                color:$grey;
            }
            .num__hero-1-number{
                font-size: 32px;
                font-weight: 700;
            }
            
            .num__hero-2{
                border: 1px solid white;
                max-width: 155px;
                max-height: 100px;
            }
            .num__hero-2-title{
            font-size: 14px;
            color:$grey;
            }
            .num__hero-2-number{
            font-size: 32px;
            font-weight: 700;
            }
        }
    }
}