.main{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 80px;
    background: linear-gradient(180deg, #fff 0%,#f0f1ff 100%);
    .main__container{
        &__hero{
        height: 100px;
        margin-bottom: 250px;
        @include breakpoint(tablet){
            max-width: 60%;
        }

        .main__h1{
            font-size: 40px;
            margin-bottom: 26px;
            font-weight: 900;
        }
        .main__p{
            padding: 0px;
            color: $grey;
            line-height: 26px;
            margin-bottom: 24px;
        }

        .main__p2{
            .main__p2-button{
                margin-bottom: 40px;
                @include button-pink-orange;
            }
        }
        }
        &__img{
            text-align: center;
            position: relative;
            height: 300px;
            .img__hero-tablet{
                display: none;
                @include breakpoint(tablet){
                    display: block;
                    max-width: 40%;
                    margin: 0;
                }
            }

            .img__hero-mobile{
                @include breakpoint(tablet){
                    display: none;
                }
            }

            

            .img-hero{
                max-width: 80%;
            }
            .nums__hero{
                display: inline-block;
                text-align: left;
                background-color: white;
                border-radius: 10px;
                position: absolute;
                box-shadow: -2px 22px 44px 7px rgba(189,174,174,0.75);
                -webkit-box-shadow: -2px 22px 44px 7px rgba(189,174,174,0.75);
                -moz-box-shadow: -2px 22px 44px 7px rgba(189,174,174,0.75);
                            }

            // Estilos para los divs del hero
            .num__hero-1{
                border: 1px solid white;
                max-width: 155px;
                max-height: 100px;
                padding: 16px 45px 16px 20px;
                bottom: 0px;
                left: 0px;
            }
            .num__hero-1-title{
                font-size: 14px;
                color:$grey;
            }
            .num__hero-1-number{
                font-size: 32px;
                font-weight: 700;
            }
            
            .num__hero-2{
                border: 1px solid white;
                max-width: 105px;
                max-height: 100px;
                padding: 16px 20px;
                top: 0px;
                right: 0px;
            }
            .num__hero-2-title{
            font-size: 14px;
            color:$grey;
            }
            .num__hero-2-number{
            font-size: 32px;
            font-weight: 700;
            }
        }
        .container__responsive{
            margin-bottom: 200px;
            @include breakpoint(tablet){
            display: flex;
            }
        }

        &__activities{
            margin-top: 20%;
            .activities__header{
                .activities__h2{
                    margin-bottom: 16px;
                    color:white ;
                    background-image: $gradient-pink-orange;
                    padding: 24px 29px 32px 28px;
                    border-radius: 10px;
                }
            }
            // Estilos para todos los articulos
            .activities-item{
                margin-bottom: 16px;
                margin-top: 40px;
                width: 380px;
                height: 240px;
                text-align: left;
                padding: 0px 29px 0px 28px;
                background-color: white;
                border-radius: 10px;

                position: relative;



                &-icon{
                    margin-bottom: 24px;
                    margin-top: 16px;
                    width: 56px;
                    height: 56px;
                    padding: 1rem 2rem;
                    border-radius: 50%;
                    background: $gradient-pink-orange;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 30px;
                    top: -40px;
                }
                .item__position{
                    position: absolute;
                    top: 50px;
                }

                &-title{
                    margin-bottom: 16px;
                    font-size: 20px;
                }
                &-description{
                    margin-bottom: 24px;
                    line-height: 26px;
                    color: $grey;
                }
                .activities-item-cta{
                    .cta-button{
                        color: $pink;
                        text-decoration: none;
                    }
                }
                .item5{
                    margin-bottom: 100px;
                }
            }
        }
    }
}