.main{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 60px;
    .main__container{
        &__hero{
        height: 100px;
        margin-bottom: 225px;
        @include breakpoint(tablet){
            max-width: 50%;
            height: 300px;
            margin-bottom: 0;
            padding-top: 20px;
        }

        .main__h1{
            font-size: 40px;
            margin-bottom: 26px;
            font-weight: 900;
            color: $black;
        }
        .main__p{
            padding: 0px;
            color: $grey;
            line-height: 26px;
            margin-bottom: 24px;
        }

        .main__p2{
            .main__p2-button{
                margin-bottom: 40px;
                @include button-pink-orange;
            }
        }
        }
        &__img{
            text-align: center;
            position: relative;
            @include breakpoint(tablet){
                margin: 0;
                width: 50%;
            }

            .img__hero-mobile{
                max-width: 80%;
                @include breakpoint(tablet){
                    display: none;
                }
            }

            // Estilos en común de ambos divs del hero
            .nums__hero{
                display: inline-block;
                width: max-content;
                text-align: left;
                background-color: white;
                border-radius: 1rem;
                position: absolute;
                box-shadow: -2px 22px 44px 7px rgba(189,174,174,0.75);
                -webkit-box-shadow: -2px 22px 44px 7px rgba(189,174,174,0.75);
                -moz-box-shadow: -2px 22px 44px 7px rgba(189,174,174,0.75);
                span {
                    display: block;
                  }
                            }

            // Estilos para div1 del hero
            .num__hero-1{
                border: 1px solid white;
                max-width: 155px;
                max-height: 100px;
                padding: 16px 45px 16px 20px;
                bottom: 1%;
                left: 5%;
                @include breakpoint(tablet){
                    position: absolute;
                    bottom: -200px;
                    left: 10%;
                    padding: 13px 42px 13px 17px;
                }
            }
            .num__hero-1-title{
                font-size: 14px;
                color:$grey;
                @include breakpoint(tablet){
                    font-size: 12px;
                }
            }
            .num__hero-1-number{
                font-size: 32px;
                font-weight: 900;
                @include breakpoint(tablet){
                    font-size: 28px;
                }
            }
            
            // Estilos para div2 del hero
            .num__hero-2{
                border: 1px solid white;
                max-width: 105px;
                max-height: 100px;
                padding: 16px 20px;
                top: 0%;
                right: 6%;
                @include breakpoint(tablet){
                    position: absolute;
                    top: -180px;
                    right:5%;
                    padding: 13px 17px;

                }
            }
            .num__hero-2-title{
            font-size: 14px;
            color:$grey;
            }
            .num__hero-2-number{
            font-size: 32px;
            font-weight: 900;
            }
        }
        .container__responsive-flex{
            margin-bottom: 0px;
            @include breakpoint(tablet){
            display: flex;
            height: 400px;
            align-items: center;
            margin-left: 39px;
            }
        }

        &__activities{
            margin-top: 20%;
            @include breakpoint(tablet){
                margin-top: 80px;
                margin-left: 39px;
                margin-right: 40px;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 1fr 1fr 1fr;
                column-gap:10px;
                row-gap: 32px;
                align-items: center;
                justify-content: left;

            }

            .activities__header{
                @include breakpoint(tablet){
                    padding-top: 25px;
                }
                .activities__h2{
                    margin-bottom: 16px;
                    color:white ;
                    background-image: $gradient-pink-orange;
                    padding: 24px 29px 32px 28px;
                    border-radius: 10px;
                    @include breakpoint(tablet){
                        height: 259px;
                        padding: 56px 21px 139px 32px;
                    }
                }
            }
            // Estilos para todos los articulos
            .activities-item{
                margin-bottom: 16px;
                margin-top: 40px;
                height: 240px;
                text-align: left;
                padding: 0px 29px 0px 28px;
                background-color: white;
                border-radius: 10px;
                position: relative;
                @include breakpoint(tablet){
                    width: none;
                }
            
            // Estilos solo para el item-1
            .item-1 {
                @include breakpoint(tablet){
                    margin-top: 0px;
                }
            }



                &-icon{
                    margin-bottom: 24px;
                    margin-top: 16px;
                    width: 56px;
                    height: 56px;
                    padding: 1rem 2rem;
                    border-radius: 50%;
                    background: $gradient-pink-orange;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    left: 30px;
                    top: -40px;
                }
                .item__position{
                    position: absolute;
                    top: 50px;
                }

                &-title{
                    margin-bottom: 16px;
                    font-size: 20px;
                }
                &-description{
                    margin-bottom: 24px;
                    line-height: 26px;
                    color: $grey;
                }
                .activities-item-cta{ 
                    .cta-button{
                        color: $pink;
                        text-decoration: none;
                        font-weight: 700;
                    }
                }
                .item5{
                    margin-bottom: 100px;
                }
            }
        }
    }
}